.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.show-products .box-container .box{
   text-align: center;
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.show-products .box-container .box .image{
   height: 25rem;
   margin-bottom: .5rem;
}

.show-products .box-container .box .price{
   background-color: var(--pink);
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   color:var(--white);
   padding:1rem;
   font-size: 2rem;
}

.show-products .box-container .box .name{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.show-products .box-container .box .details{
   line-height: 1.5;
   color:var(--light-color);
   font-size: 1.5rem;
   padding:.5rem 0;
}
